<!doctype html>

<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>TODO-App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>