{% include 'header.html' %}
                <h1>Task view</h1>
                <div class="task-box">
                    <div class="task-box-actions">
                        {% if task.open %}
                        <button class="btn-primary" onclick="window.location.href='{{ url_for('tasks.close_by_id', id=task.id) }}';">Close</button>
                        {% else %}
                        <button class="btn-primary" onclick="window.location.href='{{ url_for('tasks.open_by_id', id=task.id) }}';">Open</button>
                        {% endif %}
                        <button class="btn-secondary" onclick="window.location.href='{{ url_for('tasks.update_by_id', id=task.id) }}';">Edit</button>
                        <button class="btn-primary-delete"onclick="window.location.href='{{ url_for('tasks.delete_by_id', id=task.id) }}';">Delete</button>
                    </div>
                    <form>
                        <div class="task-box-form-element">
                            <label for="title">Title</label>
                            <input type="text" name="title" value="{{ task.title }}" disabled="disabled"></input>
                        </div>
                        <div class="task-box-form-element">
                            <label for="description">Description</label>
                            <br>
                            <textarea name="description" disabled="disabled">{{ task.description }}</textarea>
                        </div>
                    </form>
                </div>
{% include 'footer.html' %}