{% include 'header.html' %}
                <h1>Task update</h1>
                <form method="post">
                    <p>
                        <label for="title">Title</label>
                        <input type="text" name="title" value="{{ task.title }}"></input>
                    </p>
                    <p>
                        <label for="description">Description</label>
                        <br>
                        <textarea name="description" rows="10">{{ task.description }}</textarea>
                    </p>
                    <p>
                        <button type="submit">Save</button>
                    </p>
                </form>
{% include 'footer.html' %}