{% include 'header.html' %}
                <h1>Tasks</h1>
                <p><button onclick="window.location.href='{{ url_for('tasks.create') }}';">Create task</button></p>
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    {% for task in tasks %}
                    <tr>
                        <th>{{ task.title }}</th>
                        {% if task.open %}
                        <th>Open</th>
                        {% else %}
                        <th>Closed</th>
                        {% endif %}
                        <th>
                            <button onclick="window.location.href='{{ url_for('tasks.get_by_id', id=task.id) }}';">Show</button>
                            <button onclick="window.location.href='{{ url_for('tasks.delete_by_id', id=task.id) }}';">Delete</button>
                            <button onclick="window.location.href='{{ url_for('tasks.open_by_id', id=task.id) }}';">Open</button>
                            <button onclick="window.location.href='{{ url_for('tasks.close_by_id', id=task.id) }}';">Close</button>
                        </th>
                    </tr>
                    {% endfor %}
                </table>
{% include 'footer.html' %}