{% include 'header.html' %}
                <h1>Task update</h1>
                <div class="task-box"></div>
                    <form method="post">
                        <div class="task-box-form-element">
                            <label for="title">Title</label>
                            <input type="text" name="title" value="{{ task.title }}"></input>
                        </div>
                        <div class="task-box-form-element">
                            <label for="description">Description</label>
                            <br>
                            <textarea name="description">{{ task.description }}</textarea>
                        </div>
                        <div class="task-box-form-element">
                            <button class="btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
{% include 'footer.html' %}