/* general */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
}

/* buttons */

.btn-primary {
    background-color: #116CDD;
    border-color: #116CDD;
    border-style: solid;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

.btn-primary:hover {
    background-color: #0D54AB;
}

.btn-secondary {
    background-color: white;
    border-color: #116CDD;
    border-style: solid;
    border-radius: 20px;
    color: #116CDD;
    font-weight: bold;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

.btn-secondary:hover {
    background-color: #E2E2E2;
    border-color: #0D54AB;
    color: #0D54AB;
}

.btn-primary-delete {
    background-color: #C30000;
    border-color: #C30000;
    border-style: solid;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

.btn-primary-delete:hover {
    background-color: #AD0000;
}

/* tables */

table {
    margin-top: 1em;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
    width: 100%;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
    text-align: left;
    overflow: hidden;
}

/* task box */

.task-box {
    display: flexbox;
    flex-direction: row;
}

.task-box-form-element {
    margin-top: 1em;
}

.task-box-form-element > input, textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
}

.task-box-actions {
    margin-top: 1em;
    text-align: right;
}

/* authentication box */

.auth-box {
    display: flexbox;
    flex-direction: row;
    max-width: 350px;
}

.auth-box-message-element {
    box-sizing: border-box;
    resize: none;
    margin-top: 1em;
    color: red;
}

.auth-box-form-element {
    margin-top: 1em;
}

.auth-box-form-element > input, textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
}

.auth-box-actions {
    margin-top: 1em;
    text-align: right;
}

/* grid */

.grid-container {
    display: grid;
    grid-template-columns: 4fr;
    gap: 0.25em 0.25em;
    min-width: 366px;
}

.header {
    grid-row: 1;
    grid-column: 1 / 4;
    height: 3rem;
    background-color: #2c2c2c;
}

.menu {
    grid-column: 1 / 4;
    display: none;
    text-align: center;
}

.content {
    grid-row: 2;
    grid-column: 1 / 4;
    display: inline;
    padding: 0.5em;
}

.footer {
    grid-row: 3;
    grid-column: 1 / 4;
}

/* header */

.header-container {
    display: inline-flex;
    flex-direction: row;
    height: 3rem;
    align-items: center;
}

.header-menu {
    margin-right: 1rem;
    height: 100%;
}

.header-logo {
    margin-right: 0.25rem;
    height: 100%;
}

.header-title {
    line-height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

/* menu */

.menu > nav > a {
    font-size: 1.2em;
}

@media screen and (min-width: 650px) {
    /* grid */

    .grid-container {
        display: grid;
        grid-template-columns: 2fr 9fr;
        gap: 0.25em 0.25em;
        min-width: 366px;
    }

    .header {
        grid-row: 1;
        grid-column: 1 / 12;
        height: 3rem;
    }

    .menu {
        grid-row: 2;
        grid-column: 1;
        display: inline !important;
        text-align: left;
    }

    .content {
        grid-row: 2;
        grid-column: 2 / 12;
        display: inline !important;
        padding: 0.5em;
    }

    .footer {
        grid-row: 3;
        grid-column: 1 / 12;
    }

    /* header */

    .header-menu {
        display: none;
    }
}