/* general */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
}

/* form elements */

button {
    width: 7.25rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-primary {
    background-color: #116CDD;
    border-color: #116CDD;
    border-style: solid;
    color: white;
}

.btn-primary:hover {
    background-color: #0D54AB;
}

.btn-secondary {
    background-color: white;
    border-color: #116CDD;
    border-style: solid;
    color: #116CDD;
}

.btn-secondary:hover {
    background-color: #E2E2E2;
    border-color: #0D54AB;
    color: #0D54AB;
}

.btn-primary-delete {
    background-color: #C30000;
    border-color: #C30000;
    border-style: solid;
    color: white;
}

.btn-primary-delete:hover {
    background-color: #AD0000;
}

input {
    border-radius: 0.3125rem;
    border: 1px solid black;
    background: white;
    color: black;
    flex-shrink: 0;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
}

textarea {
    border-radius: 0.3125rem;
    border: 1px solid black;
    background: white;
    color: black;
    flex-shrink: 0;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
}

/* tables */

table {
    margin-top: 1em;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
    width: 100%;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
    text-align: left;
    overflow: hidden;
}

/* task box */

.task-box {
    display: flexbox;
    flex-direction: row;
}

.task-box-form-element {
    margin-top: 1em;
}

.task-box-message-element {
    box-sizing: border-box;
    resize: none;
    margin-bottom: 1em;
}

.task-box-form-element > input, textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    font-size: 1.5em;
}

.task-box-actions {
    margin-top: 1em;
    text-align: right;
}

/* authentication box */

.auth-box {
    display: flexbox;
    flex-direction: row;
    max-width: 350px;
}

.auth-box-message-element {
    box-sizing: border-box;
    resize: none;
    margin-top: 1em;
    color: red;
}

.auth-box-form-element {
    margin-top: 1em;
}

.auth-box-form-element > input, textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    font-size: 1.5em;
}

.auth-box-actions {
    margin-top: 1em;
    text-align: right;
}

/* grid */

.grid-container {
    display: grid;
    grid-template-columns: 4fr;
    gap: 0.25em 0.25em;
    min-width: 366px;
}

.header {
    grid-row: 1;
    grid-column: 1 / 4;
    height: 4.5rem;
    background-color: #2c2c2c;
}

.menu {
    grid-column: 1 / 4;
    display: none;
    text-align: center;
    padding-top: 3.5rem;
}

.content {
    grid-row: 2;
    grid-column: 1 / 4;
    display: inline;
    padding: 0.5em;
}

.footer {
    grid-row: 3;
    grid-column: 1 / 4;
}

/* header */

.header-container {
    display: inline-flex;
    flex-direction: row;
    height: 4.5rem;
    align-items: center;
    margin-left: 0.5em;
}

.header-menu {
    margin-right: 1rem;
    height: 2.25rem;
}

.header-logo {
    margin-right: 0.5rem;
    height: 2.25rem;
}

.header-title {
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    height: 2.25rem;
}

/* menu */

.menu > nav > ul > li {
    margin-bottom: 3rem;
}

.menu > nav > ul > li > a {
    font-size: 1.875rem;
    font-style: normal;
    line-height: 2rem;
    text-decoration: none;
    font-weight: bold;
}

.menu > nav > ul > li > a:link {
    color: black;
}

.menu > nav > ul > li > a:visited {
    color: black;
}

.menu > nav > ul > li > a:hover {
    color: black;
}

.menu > nav > ul > li > a:active {
    color: black;
}

@media screen and (min-width: 650px) {
    /* grid */

    .grid-container {
        display: grid;
        grid-template-columns: 2fr 9fr;
        gap: 0.25em 0.25em;
        min-width: 366px;
    }

    .header {
        grid-row: 1;
        grid-column: 1 / 12;
        height: 4.5rem;
    }

    .menu {
        grid-row: 2;
        grid-column: 1;
        display: inline !important;
        text-align: left;
        padding-left: 0.5em;
    }

    .content {
        grid-row: 2;
        grid-column: 2 / 12;
        display: inline !important;
        padding: 0.5em;
    }

    .footer {
        grid-row: 3;
        grid-column: 1 / 12;
    }

    /* header */

    .header-container {
        margin-left: 1rem;
    }

    .header-menu {
        display: none;
    }
}