/* general */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
}

/* grid */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    gap: 0px 0px;
}

.header {
    grid-row: 1;
    grid-column: 1 / 6;
    height: 3rem;
    border-bottom: 1px solid #c2c2c2;
}

.sidebar {
    grid-column: 1 / 6;
    display: none;
    text-align: center;
}

.content {
    grid-row: 2;
    grid-column: 1 / 6;
    display: inline;
    padding: 0.5em;
    background-color: white;
}

.footer {
    grid-row: 3;
    grid-column: 1 / 6;
    border-top: 1px solid #c2c2c2;
}

/* header */

.header-container {
    display: inline-flex;
    flex-direction: row;
    height: 3rem;
    align-items: center;
}

.header-menu {
    margin-right: 1rem;
    height: 100%;
}

@media screen and (min-width: 768px) {
    /* grid */
    
    .sidebar {
        grid-row: 2;
        grid-column: 1;
        display: inline !important;
        text-align: right;
        padding: 0.5em;
        border-right: 1px solid #c2c2c2;
    }
    
    .content {
        grid-row: 2;
        grid-column: 2 / 6;
        display: inline !important;
        padding: 0.5em;
        background-color: white;
    }

    /* header */

    .header-menu {
        display: none;
    }
}